<%- include('../../partials/header.ejs') %> 
<div class="container-fluid">

    <h1 class="h3 mb-4 text-gray-800">Table</h1>

    <%- include('table.ejs') %>

</div>
<%- include('../../partials/footer.ejs') %> 